{
  "$schema": "http://schema.management.azure.com/schemas/2014-04-01-preview/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "subscriptionName": {
      "value": "Free Trial"
    },
    "resourcesGroupName": {
      "value": "StreamAnalyticsDemo"
    },
    "resourcesGroupLocation": {
      "value": "westeurope"
    },
    "storageAccountName": {
      "value": ""
    },
	"storageContainerName": {
      "value": "data"
    },
    "namespaceName": {
      "value": ""
    },
    "eventHubName": {
      "value": ""
    },
    "serviceBusNamespaceName": {
      "value": ""
    },
    "serviceBusQueueName": {
      "value": ""
    },
    "serviceBusApiVersion": {
      "value": "2015-08-01"
    },
    "streamAnalyticsJobName": {
      "value": ""
    },
    "sqlServerName": {
      "value": ""
    },
    "sqlDWDBName": {
      "value": "streamingdb"
    },
    "sqlDWDBAdminName": {
      "value": ""
    },
    "sqlDWAdminPassword": {
      "value": ""
    },
    "sqlDBStartIpAddress": {
      "value": "0.0.0.0"
    },
    "sqlDBEndIpAddress": {
      "value": "0.0.0.0"
    },
    "appServiceName": {
      "value": ""
    },
    "websiteName": {
      "value": ""
    },
    "appServicePlanSkuName": {
      "value": "F1"
    },
    "dataFactoryName": {
      "value": ""
    },
    "dataFactoryLocation": {
      "value": "North Europe"
    }
  }
}