<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="ServerInstance" value=""/>
  <add key="DatabaseName" value=""/>
  <add key="DatabaseUser" value=""/>
  <add key="DatabasePassword" value=""/>
</appSettings>